.top-container {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 10px;
  margin-bottom: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  margin-top: 50px;
  font-family: 'Gaegu', cursive;
  font-size: 60px;
  color: #66bfbf;
}

h2 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: normal;
  font-size: 2rem;
  color: #66bfbf;
  line-height: 2;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #11999E;

}

p {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
}

a {
  color: #11999E;
}

hr {
  border-style: dotted none none none;
  border-width: 6px;
  border-color: #EAF6F6;
  width: 4%;
  margin-top: 50px;
  margin-bottom: 40px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.web-dev {
  text-decoration: underline;
}

.coding-img {
  width: 20%;
  float: left;
  padding-right: 40px;
}

.hello {
  margin-top: 40px;
  width: 100px;
}

.calligraphy-img {
  width: 30%;
  float: right;
  padding-left: 30px;
}

.hi-there {
  width: 300px;
  margin-top: 50px;
}

.footer-link {
  font-family: 'IBM Plex Sans', sans-serif;
}

.intro {
  font-size: 23px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.profile {
  width: 30%;
  margin: auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 27;
  -moz-border-radius: 27;
  border-radius: 27px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 50px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.github-img {
  margin-top: 30px;
  margin-right: 15px;
  width: 30px;
}

.email-img {
  width: 30px;
  margin-left: 15px; 
}
